@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

body,
html {
  background-color: rgb(28, 43, 66);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
  background-color: rgb(9, 17, 29);
  padding: 2rem;
  font-family: 'Prompt', sans-serif;
  font-size: 20px;
  color: white;
  position: fixed;
  width: 100%;
}

.nav-left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.navbar-item {
  margin-right: 20px;
  margin-left: 40px;
  cursor: pointer;
}

.logo {
  color: rgb(47, 255, 57);
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  letter-spacing: 2px;
}

.navbar-item:hover {
  color: rgb(47, 255, 57);
}

section {
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px;
  font-family: 'Prompt', sans-serif;
}

.margin {
  margin-left: 20px;
  margin-right: 20px;
}

.name {
  color: rgb(173, 173, 173);
  font-size: 15px;
  font-style: italic;
}

.bigger_n {
  margin: 0;
  color: white;
  font-size: 4rem;
  font-style: normal;
  font-weight: bold;
}

.sub_n {
  margin: 0;
  font-style: normal;
}

img {
  padding-top: 5vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 20%;
}

img:hover {
}

/*phone sizing*/
@media only screen and (max-width: 480px) {
  .bigger_n {
    margin: 0;
    color: white;
    font-size: 2rem;
    font-style: normal;
    font-weight: bold;
  }
}
