@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

body,
html {
  background-color: rgb(28, 43, 66);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
  background-color: rgb(9, 17, 29);
  padding: 2rem;
  font-family: 'Prompt', sans-serif;
  font-size: 20px;
  color: rgb(47, 255, 57);
  position: fixed;
  width: 100%;
}

.nav-left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.navbar-item {
  margin-right: 20px;
  margin-left: 40px;
  cursor: pointer;
}

.home_p {
  padding-top: 5.7rem;
  height: 100%;
  width: 50%;
}
.experience_p,
.contact_p {
  height: 100%;
  width: 100%;
}
