body,
html {
  background-image: linear-gradient(
    60deg,
    rgba(7, 5, 60, 1) 0%,
    rgba(23, 30, 70, 1) 50%,
    rgba(40, 55, 103, 1) 86%
  );
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

nav {
  color: white;
}

.home,
.experiences,
.contact {
  height: 100%;
  width: 100%;
}
