
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.portfolio{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(201, 202, 210, 0.7),rgba(201,202,210,0.7)),url(https://static.vecteezy.com/system/resources/previews/014/526/826/original/aesthetic-pastel-gradient-orange-purple-and-yellow-gradient-wallpaper-illustration-perfect-for-backdrop-wallpaper-background-banner-vector.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.port-links{
    flex: 1;
    text-align: right;

}
.port-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.port-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.port-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #faf49f;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.port-links ul li:hover::after{
    width: 100%; 
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.page-bth{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid#fff;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}