
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.portfolio{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(201, 202, 210, 0.7),rgba(201,202,210,0.7)),url(https://static.vecteezy.com/system/resources/previews/014/526/826/original/aesthetic-pastel-gradient-orange-purple-and-yellow-gradient-wallpaper-illustration-perfect-for-backdrop-wallpaper-background-banner-vector.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.port-links{
    flex: 1;
    text-align: right;

}

.port-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.port-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.port-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #943D2c;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.port-links ul li:hover::after{
    width: 100%; 
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 12px;
    color: #fff;
}

.page-bth{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid#fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.page-bth:hover{
    border:1px solid#f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media only srceen and (max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .port-links ul li{
        display:block;
    }
    .port-links{
        position: absolute;
        background: #E5BD77;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        font-size: 22px;
        cursor: pointer;
    }
    .port-links ul{
        padding: 30px;
    }
}

/*----- about_me -----*/

.about_me{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.aboutme1{
    flex-basis: 31%;
    background: #E5BD77;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.aboutme1:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}

/*------- campus ----*/

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.Skill{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.Skill img{
    width: 100%;
}
